@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --text-color: rgb(212, 233, 252);
    --body-color: rgb(8,6,43);
    --icon-color: rgb(123, 135, 161);
    --hover-color: rgb(66, 142, 224);
}

body {
    /* background-color: rgb(151, 163, 179); */
    background: rgb(8,6,43);
}

.bar {
    width: 25px;
    height: 3px;
    background-color: var(--text-color);
    margin-bottom: 5px;
    transition: .3s;
}

section {
    padding-top: 50px;
}

.section.active {
    opacity: 0;
}

.menu_bar.active {
    .bar:nth-child(1) {
        transform: rotate(45deg) translateY(11px);
    }
    .bar:nth-child(2) {
        opacity:0;
    }
    .bar:nth-child(3) {
        transform: rotate(-45deg) translateY(-11px);  
    }
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 1;
    height: 50px;
    color: var(--text-color);
}

.logo {
    height: 50px;
    display: flex;
    align-items: center;
    transition: opacity .5s ease-in;
    opacity: 0;
}

.logo:hover {
    transform: scale(1.05);
}

.logo.fade-in {
    opacity: 1;
}
.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
}

.name:hover, .job-title:hover, .links {
    color: var(--hover-color);
}

.outer-circle {
    height: 40px;
    width: 40px;
    background:linear-gradient(rgb(58, 53, 129), rgb(0, 217, 255));
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-circle {
    height:33px;
    width: 35px;
    background-color: var(--body-color);
    color: rgb(66, 142, 224);
    /* color: rgb(21, 69, 122); */
    /* color: var(--text-color); */
    position: relative;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Qwitcher Grypen', cursive;
}

.inner-circle p {
    font-size: 1.6rem;
}

.navbar .links {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
    transition: .5s;
    background-color: var(--body-color);
    width: 80%;
    border-radius: 20px;
    border: 1px solid rgb(249, 250, 250);
    right: -120%;
    position: relative;
    height: 100vh;
    margin: 0 auto;
}

.navbar .links.active {
    right: 0;
    font-size: 2em;
    row-gap: 80px;
}

#welcome-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.home-container {
    margin-left: 40px;
    width: 50%;
}

.welcome-text {
    font-size: 2.7rem;
    color: var(--text-color);
    opacity: 0;
    transition: left .8s linear;
    position: relative;
    left: -120%;
}

.welcome-text.preparation{
    opacity: 1;
    left: 0;
}

.welcome-description {
    text-align: justify;
    color: var(--text-color);
    transition: left .8s linear;
    position: relative;
    left: -120%;
}

.welcome-description.preparation {
    left: 0;
}

#contacts {
    height: 100vh;
}

.projects-title {
    text-align: center;
    padding: 20px 0;
    font-size: 2rem;
    color: var(--text-color);
}


.projects-container {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
}

.project-container{ 
    width: 50%;    
}

.project {
    margin: 30px;
    text-align: center;
    transition: 0.3s ease-in-out;
    color: var(--text-color);
}

.project img{
    border-radius: 20px;
    width: 100%;
    height: 80%;
}

.project img:hover {
    border: 1px solid rgb(243, 243, 243);
}

.project:hover {
    transform: scale(1.05);
}

.hidden-links {
    display: none;
}

.hidden-links a:hover {
    color: rgb(0, 217, 255);
}
    

#skills {
    display:inline-flex;
    justify-content: center;
    align-items: center; 
    column-gap: 10px;
}

.social-icons {
    font-size: 2em;
    margin: 20px 0;
    width: fit-content;
    color: rgb(123, 135, 161);
    opacity: 0;
    transition: opacity 1s ease-in;
}

.social-icons.preparation {
    opacity: 1;
}

a:visited {
    color: inherit;
}

.fa-brands:hover, .fa-solid:hover {
    color: aliceblue;
}

.brands-container {
    color: var(--icon-color);
    font-size: 2em;
}


@media screen and (min-width: 768px) {
    .menu_bar {
      display: none;
    }

    .navbar .hidden-links {
        display: flex;
        column-gap: 8vw;
        padding-right: 30px;
        font-size: 1.5rem;
    }

    .links.active {
        display: none;
    }
}

@media screen and (max-width:768px) {
    .navbar.active {
        display: flex;
        flex-direction: column;
        height: 90vh;
    }

    .home-container {
        width:70%;
    }

    .projects-container {
        grid-template-columns: 1fr;
    }
}